@import "./stylesheets/global.scss";

.app {
  background: $grey100;
  height: 100vh;
  padding: 100px 50px;
}

.App-logo {
  height: 40vmin;
}

.app__header {
  display: flex;
  margin-bottom: 25px;

  > h3 {
    flex: 1;
  }
}

.App-link {
  color: #09d3ac;
}
