@import './stylesheets/global.scss';

.app {
    background: $grey100;
    height: 100vh;
    padding: 100px 50px;
}

.App-logo {
    height: 40vmin;
}

.App-link {
    color: #09d3ac;
}

.app--loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app--loading__indicator {
  margin-top: 25px;
  width: 75%;
}