@import "../../stylesheets/global.scss";

.loan-list {
  list-style: none;
}

.loan-list-row {
  display: flex;

  &:not(:last-child) {
    border-bottom: 1px solid $grey600;
  }
}

.loan-list-row__item {
  margin: 0 50px;
}

.loan-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loan-list-item__label {
  color: $grey600;
}

.loan-list-row__button-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
