.currency-modal-form__content {
    display: flex;
    align-items: flex-end;
    width: 400px;
    margin-top: 20px;
}

.currency-modal-form__amount-field {
    width: 200px;
    margin-right: 50px;
}
